<app-admin-header title="Localizar Produtos" class="ion-text-center" [buttonCloseModal]="true"></app-admin-header>
<app-search-bar (inputKey)="onInput($event)" (inputEmpty)="reloadCustomers()"></app-search-bar>
<ion-content>
  <ion-grid fixed>
    <app-input-search (inputKey)="onInput($event)" [onFocus]="true" (inputEmpty)="reloadCustomers()">
    </app-input-search>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-no-margin">
        <ion-list>
          <ion-item [color]="indexItemSelected===i?'light':null" *ngFor="let item of customerList let i=index"
            (click)="selectCustomer(i)">
            <div class="group">
              <ion-label>{{item.name}}</ion-label>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadScrollData()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais categorias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>