<app-admin-header title='Adicionar'></app-admin-header>

<ion-content class="ion-padding">
  <ion-grid>

    <ion-text class="ion-text-center">
      <h2>Cadastro Funcionários</h2>
    </ion-text>

    <form [formGroup]="formulario">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="6" size-md="6" size-lg="4">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" formControlName='name'></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-sm="6" size-md="6" size-lg="4">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-sm="6" size-md="6" size-lg="4">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Unidade</ion-label>
            <ion-select multiple='true' formControlName='unit' interface="popover">
              <ion-select-option *ngFor="let item of unitList" value="{{item._id}}">{{item.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-sm="6" size-md="6" size-lg="4">
          <ion-item class="ion-no-padding">
            <ion-label position="floating">Permissões</ion-label>
            <ion-select interface="popover" formControlName='per'>
              <ion-select-option *ngFor="let item of permissionList | async" value="{{item._id}}">{{item.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-sm="3" size-md="2">
          <ion-item lines="none" class="ion-margin-top">
            <ion-label>Ativo</ion-label>
            <ion-checkbox formControlName='active'></ion-checkbox>
          </ion-item>
        </ion-col>

      </ion-row>
    </form>

    <ion-row class="ion-justify-content-center ion-padding-top">
      <ion-col size="6" size-sm="4" size-md="3">
        <ion-button color="light" expand="block" (click)='back()'>
          Voltar
        </ion-button>
      </ion-col>

      <ion-col size="6" size-sm="4" size-md="3">
        <ion-button expand="block" [disabled]='formulario.invalid' (click)="submit()">
          Salvar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>