<app-admin-header title='Adicionar'></app-admin-header>
<ion-content fixed>
  <ion-grid>
    <ion-text class="ion-text-center">
      <h2>Cadastro de Cartão Para Depesas</h2>
    </ion-text>
    <ion-card class="ion-padding">
      <form [formGroup]="formulario">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-sm="7" size-md='5' class="ion-padding">
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Apelido do cartão</ion-label>
              <ion-input type="text" formControlName='name'></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="7" size-md='5' class="ion-padding">
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Data Vencimento</ion-label>
              <ion-select interface="popover" formControlName="dueDate">
                <ion-select-option *ngFor="let item of dueDays" [value]="item">{{item}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="7" size-md='5' class="ion-padding">
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Data Fechamento da Fatura</ion-label>
              <ion-select interface="popover" formControlName="invoiceClosing">
                <ion-select-option *ngFor="let item of dueDays" [value]="item">{{item}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="5" size-md="3" class="ion-padding">
            <ion-item lines="none" class="ion-no-padding ion-margin-top">
              <ion-label>Ativo</ion-label>
              <ion-checkbox formControlName='active'></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" size-sm="6" size-md='4' class="ion-padding-top">
          <ion-button color="light" expand="block" (click)="back()">
            Voltar
          </ion-button>
        </ion-col>
        <ion-col size="6" size-sm="6" size-md='4' class="ion-padding-top">
          <ion-button expand="block" [disabled]='formulario.invalid' (click)="submit()">
            Salvar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>