<app-admin-header title='Definir Senha'></app-admin-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="8">

        <ion-card>
          <ion-text class="ion-text-center ion-no-margin">
            <h2>Cadastro de Senha</h2>
          </ion-text>

          <form [formGroup]="formulario">
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-sm="7" size-md="4" class="ion-padding-horizontal">
                <ion-item class="ion-no-padding">
                  <ion-label position="floating">Senha</ion-label>
                  <ion-input type="text" formControlName='password'></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="7" size-md="4" class="ion-padding-horizontal">
                <ion-item class="ion-no-padding">
                  <ion-label position="floating">Confirma Senha</ion-label>
                  <ion-input type="text" formControlName='confirmPassword'></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </form>
          <ion-row class="ion-justify-content-center ion-padding-horizontal">
            <ion-col size="6" size-sm="4" class="ion-padding-top">
              <ion-button color="light" expand="block" (click)='back()'>
                Cancelar
              </ion-button>
            </ion-col>
            <ion-col size="6" size-sm="4" class="ion-padding-top">
              <ion-button expand="block" [disabled]='formulario.invalid' (click)="submit()">
                Definir Senha
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>