<app-admin-header title='Adicionar'></app-admin-header>
<ion-content fixed>
  <ion-grid>
    <ion-card>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-row class="ion-justify-content-center">
            <img [src]="formulario.value.img || noImage">
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <input class="ion-hide" type="file" accept="image/*" #file (change)="onFileChange($event)">
            <ion-buttons>
              <ion-button slot="icon-only" (click)="showImage(file)"
                [disabled]="!formulario.value._id || formulario.value.img" color='dark'>
                <ion-icon name="search"></ion-icon>
              </ion-button>
              <ion-button slot="icon-only" (click)="deleteImage()" [disabled]="!formulario.value.img" color='danger'>
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-text class="ion-text-center">
      <h2>Cadastro de Cartão</h2>
    </ion-text>
    <ion-card class="ion-padding">
      <form [formGroup]="formulario">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-sm="7" size-md='5' class="ion-padding">
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Nome</ion-label>
              <ion-input type="text" formControlName='name'></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="5" size-md="3" class="ion-padding">
            <ion-item lines="none" class="ion-no-padding ion-margin-top">
              <ion-label>Ativo</ion-label>
              <ion-checkbox formControlName='active'></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" size-sm="6" size-md='4' class="ion-padding-top">
          <ion-button color="light" expand="block" (click)="back()">
            Voltar
          </ion-button>
        </ion-col>
        <ion-col size="6" size-sm="6" size-md='4' class="ion-padding-top">
          <ion-button expand="block" [disabled]='formulario.invalid' (click)="submit()">
            Salvar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>